html {
font-size: 16px;
background-color: black;
padding: 0;
margin: 0;
box-sizing: border-box;



}

header {
   display: flex;
   flex-direction: column; 
    
}

#nav-menu {

background-color: rgb(14, 143, 107);
height:7rem;
width: 100%;
position: fixed;
z-index: 100;

}

#menu {
    font-family: "Anton";
    font-size: 2.75rem;
    color: black;
    list-style: none;
    text-decoration: none;
    float: right;
    


    
    
}

#menu li {
    display: inline;
    padding: 2rem;
    position:relative;
    top: 2rem;
}

#menu a:link {
    text-decoration: none;
    color: black;
    
}

#menu a:visited {
    color: black;
    
    
}

#menu a:hover {
color: rgb(189, 185, 185);
cursor: pointer;
-webkit-text-stroke: 0.5px black;
}

#header-container {
    background-image: url("https://images.unsplash.com/photo-1606647352524-86d835bf9d5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODZ8fGJsYWNrJTIwcm91Z2glMjB0ZXh0dXJlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    width: 100%;
    margin-top: 0;
}

#header-name {
    font-family: "Adamina";
    font-size: 8rem;
    color: white;
    text-align: center;
    font-weight: bold;
    position:relative;
    top: 6rem;
    -webkit-text-stroke: 1px rgb(14, 143, 107);
    
    


}

#header-quote {
    font-family: "DM Serif Display";
    font-size: 1.30rem;
    color: white;
    opacity: 90%;
    border-left: .7rem solid rgb(14, 143, 107);
    margin: 1.5em 0.7rem;
    padding: 0.5em 0.7rem;
    position: relative;
    left:14rem;
    width: 65%;
    
    
}
    

#header-quote:before {
    color: rgb(14, 143, 107);
    content: open-quote;
    font-size: 2rem;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

#header-quote:after {
    color: rgb(14, 143, 107);
    content: close-quote;
    font-size:2rem;
    line-height: 0.1em;
    margin-left:0.25em;
    vertical-align: -0.4em;
}



#header-quote p {
display: inline;
}

.section-headings {
font-family: "Anton";
font-size: 3rem;
text-align: center;
color: white;
background-color: black;
text-decoration: underline;

}



body {
    margin-top: 0;
}

#about {

}

#aboutBrent-container {
display: flex;
flex-direction: row;
background-color: black;
justify-content: center;
align-items: center;
position: relative;
}

#Brentphoto-container img {

width: 30rem;
height: 40rem;
object-fit: scale-down;


}

#Brentinfo-container {

}

#aboutBrent-container::after {
    content:"";
    background: rgb(14, 143, 107);
    position: absolute;
    bottom: 0;
    left: 7.75rem;
    width: 80%;
    height: 0.5rem;
    border-radius: 50%;
}

.notes-text {
    font-family: "DM Serif Display";
    font-size: 1.25rem;
    color: white;
    
}

#projects {
 
}

.project-headings {
font-family: "Adamina";
font-size: 2rem;
font-weight: bold;
color: white;
text-align: center;

}


.carousel-container {
width: 60%;
margin: auto;
border: 5px solid white;
overflow: hidden;
position: relative;

}

.carousel-slide {

display: flex;
width: 100%;
height: 30rem;




}

#lastClone {


}

#firstClone {


}

#prevButton {
position: absolute;
top:50%;
z-index: 10;
left: 5%;
font-size: 2rem;
color: white;
cursor: pointer;

}

#nextButton {
    position: absolute;
    Top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 2rem;
    color: white;
    cursor: pointer;


}


#pickuplineinfo-container {

}











.footer {
position: sticky;
left: 0;
width: 100%;
height: 7rem;
background-color: rgb(14, 143, 107);
display: flex;
align-items: center;
justify-content: center;

}



.footer-social {
    padding-right: 2.5rem;
    margin-top: 1.25rem;
    

}

.icon-style {
    height: 3.75rem;
    margin-left:1.5rem;
    margin-top:0.25rem;
    

}

.icon-style img {
   
}

.icon-style:hover {
    background-color:rgb(248, 252, 251);
    padding: 0.35rem;
    border-radius: 50%;
}