
html {
  
  
}

/* header and menu info below*/

header {
  
  
}

#nav-menu {

  background-color: rgb(14, 143, 107);
  height:7rem;
  width: 100%;
  position: fixed;
  z-index: 100;
  
  }
  
  #menu {
      font-family: "Anton";
      font-size: 2.75rem;
      color: black;
      list-style: none;
      text-decoration: none;
      float: right;
     
      
  }

  #menu li {
    display: inline;
    padding: 2rem;
    position:relative;
    top: 2rem;
}

#menu a:link {
    text-decoration: none;
    color: black;
    
}

#menu a:visited {
    color: black;
    
    
}

#menu a:hover {
color: rgb(189, 185, 185);
cursor: pointer;
-webkit-text-stroke: 0.5px black;
}

/* form body container info below */

* {
  font-family: "Adamina";
  font-weight: bold;

}

*:focus {
  outline: 0;
}

body {
  background: whitesmoke;
  margin-top: 0;
  background-color: black;
  position: relative;
  
}

h3 {
  text-align: center;
  font-size: 2rem;
}

.container {
  padding: 12px 12px 12px 12px;
  margin: auto;
  background: rgb(14, 143, 107);
  border-radius: 4px;
  width: 40%;
  height: auto;
  position: relative;
  top: 8rem;
  margin-bottom: 20rem;
  
}



label {
  font-size: 1.25rem;
  margin-left: 12px;
}

input[type=text], input[type=email], textarea {
  width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 1rem;
}

input [type=text]:focus, input[type=email]:focus, textarea:focus {
  border: 1px solid black;
}

input[type=submit] {
  background: black;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
  font-size: 1.10rem;
	text-align: center;  
}

input[type=submit]:focus {
  background: red;
  color:whitesmoke;
}

input[type=submit]:hover {
  background: white;
  color: rgb(14, 143, 107);
}

.center {
  text-align: center;
}


/* footer info below*/


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7rem;
  background-color: rgb(14, 143, 107);
  display: flex;
  align-items: center;
  justify-content: center;

  
  }
  
  
  
  .footer-social {
      padding-right: 2.5rem;
      margin-top: 1.25rem;
      
  
  }
  
  .icon-style {
      height: 3rem;
      margin-left:1.5rem;
      margin-top:0.25rem;
      
      
  
  }
  
  .icon-style img {
     
  }
  
  .icon-style:hover {
      background-color:rgb(248, 252, 251);
      padding: 0.35rem;
      border-radius: 50%;
  }